$brand-color: hsl(255, 53%, 45%);
$brand-color-hover: hsl(255, 48%, 40%);
$brand-color-active: hsl(255, 42%, 35%);

$grey-hue: 85;

$background-color: hsl($grey-hue, 4%, 98%);
$body-color: hsl($grey-hue, 8%, 28%);
$body-color-muted: hsl($grey-hue, 8%, 54%);
$inverted-text-color: white;
